{% extends "layout.html" %}

{% block title %}
Chai Aur Tweet
{% endblock %}

{% block content %}
<div class="text-center mt-4">
    <h1>Are you sure that you want to delete the tweet?</h1>
    
    <form method="post" class="d-inline">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <button class="btn btn-danger me-2">Delete</button>
            <a class="btn btn-success" href="{% url 'tweet_list' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
